<!-- <div class="wrap">

  <div id="my-circle-menu" class="cm-container">
    <ul class="cm-items">
    </ul>
    <div class="cm-selected-container">
      <div class="cm-selected-label">
        <span></span>
      </div>
      <a class="cm-button cm-button-prev" type="button" title="Previous"><i class="fa fa-chevron-left"></i></a>
      <a class="cm-button cm-button-next" type="button" title="Next"><i class="fa fa-chevron-right"></i></a>
    </div>
  </div>
</div> -->

<app-circle-menu></app-circle-menu>