.container {
    margin-top: 100px;
}

h2,
p {
    color: #e6d6d6;
}

.wrap {
    display: flex;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

/* Menu Container */
.cm-container {
    position: relative;
    min-width: 550px;
    min-height: 550px;
    border: solid 2px #f7dbfe;
    left: -200px;
    -khtml-border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    box-sizing: border-box;
}

.cm-container .cm-items {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    height: auto;
    left: 264px;
    top: 264px;
    box-sizing: border-box;
}

.cm-container .cm-items .cm-item {
    position: absolute;
    list-style: none;
    width: 140px;
    box-sizing: border-box;
}

.cm-container .cm-items .cm-item.selected {
    display: none;
}

/* Menu Options */
.cm-container .cm-items .cm-item a {
    position: relative;
    color: #fbeafc;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    box-sizing: border-box;
    cursor: pointer;
}

.cm-container .cm-items .cm-item a .label {
    position: relative;
    font-size: 20px;
    font-weight: 600;
}

/* Menu Text Container */
.menu-text-container {
    width: 200px;
}

.cm-container .cm-items .cm-item a:hover {
    color: #f8f2fb;
}

/* Menu dot */
.cm-container .cm-items .cm-item a:before {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f8f2fb;
    -khtml-border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

/* Selected Option */
.cm-container .cm-selected-container {
    position: absolute;
    width: 170px;
    height: 170px;
    border: solid 3px #cc90df;
    -khtml-border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #fff;
    right: -80px;
    top: 190px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.cm-container .cm-selected-container .cm-selected-label {
    height: 145px;
    width: 145px;
    overflow: hidden;
    font-weight: 700;
    color: #dba1f2;
    font-size: 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* buttons  */
/* .menu-buttons {
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
} */

.cm-button {
    position: absolute;
    width: 28px;
    height: 28px;
    font-size: 20px;
    cursor: pointer;
    top: 36px;
    color: #4bd187;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.cm-button:hover {
    color: #74dba2;
}

.cm-button.cm-button-prev {
    top: 20px;
    left: 202px;
}

.cm-container .cm-selected-container .cm-button.cm-button-prev:hover {
    top: 18px;
}

.cm-container .cm-selected-container .cm-button.cm-button-next {
    top: 120px;
    left: 202px;
}

.cm-container .cm-selected-container .cm-button.cm-button-next:hover {
    top: 122px;
}


/* @media only screen and (max-width: 880px) {
    body {
        background-color: lightblue;
    }
} */